<div class="modal-header">
    <h3 class="modal-title">Register</h3>
</div>
<div class="modal-body">
    <form name="form" ng-submit="vm.register(vm.user)">
        <input ng-model="vm.user.username" name="username" class="form-control form-control-primary" type="text" placeholder="Username"
        ng-minlength="5" required>
        <input ng-model="vm.user.email" name="email" class="form-control form-control-primary" type="email" placeholder="Email" ng-minlength="8"
        required>
        <input ng-model="vm.user.firstName" name="firstName" class="form-control form-control-primary" type="text" placeholder="First Name"
        ng-minlength="2" required>
        <input ng-model="vm.user.lastName" name="lastName" class="form-control form-control-primary" type="text" placeholder="Last Name"
        ng-minlength="2" required>
        <input ng-model="vm.user.password" name="password" class="form-control form-control-primary" type="password" placeholder="Password"
        ng-minlength="6" required>
        <input ng-model="vm.user.confirmPassword" name="confirmPassword" class="form-control form-control-primary" type="password"
        placeholder="Confirm Password" ng-minlength="6" required>
        <div class="modal-footer">
            <button class="btn btn-default" type="submit" ng-disabled="form.$invalid">Sign up</button>
            <button class="btn btn-default" type="button" ng-click="vm.closeModal()">Cancel</button>
        </div>
    </form>
</div>