<div id="signup-wrapper">
    <section class="container">
        <form ng-submit="">
            <input class="form-control" type="text" placeholder="Username">
            <input class="form-control" type="email" placeholder="Email">
            <input class="form-control" type="text" placeholder="First Name">
            <input class="form-control" type="text" placeholder="Last Name">
            <input class="form-control" type="password" placeholder="Password">
            <input class="form-control" type="password" placeholder="Confirm Password">
            <input class="btn btn-default" type="text" type="submit" value="Sign up">
        </form>
    </section>
</div>